@mixin flexContainer {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;
  }
}

@mixin placeHolder($color: #fff, $uppercase: false) {
  ::-webkit-input-placeholder {
    color: #{$color};

    @if $uppercase == true {
      text-transform: uppercase;
    }
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #{$color};

    @if $uppercase == true {
      text-transform: uppercase;
    }
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #{$color};

    @if $uppercase == true {
      text-transform: uppercase;
    }
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #{$color};

    @if $uppercase == true {
      text-transform: uppercase;
    }
  }
}
