@import '~styles/index';

$timeout: 250;
/* stylelint-disable */

// exported abstracts we can use in our view
:export {
  timeout: $timeout;
}
/* stylelint-enable */

.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 10, 10, 0.86);
}

.children {
  @include slideTop($easing: "ease-in-out");

  position: relative;
  min-width: 300px;
  max-width: 1024px;
  padding: $spacing-md $spacing;
  background-color: #fff;
  border-radius: 6px;
}

.icon {
  position: absolute;
  top: -22px;
  right: -28px;
  cursor: pointer;
}

.noScroll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  overflow-y: hidden;
}

.fadeIn {
  @include fadeIn($easing: "ease-in-out", $duration: $timeout);
}

.fadeOut {
  @include fadeOut($easing: "ease-in-out", $duration: $timeout);
}

.exitUp {
  @include exitUp($easing: "ease-in-out");
}
