@import '~styles/index';

$timeout: 250;
/* stylelint-disable */

// exported abstracts we can use in our view
:export {
  timeout: $timeout;
}
/* stylelint-enable */

.root {
  position: absolute;
  top: calc(100% + 2px);
  color: $clr-error;
  font-size: 12px;
}

.slideDown {
  @include slideDown($duration: $timeout);
}
